	


#nav-content>.navbar-nav>.nav-item>.nav-link{
	color: white;
}

#nav-content>.navbar-nav>.nav-item>.nav-link:hover{
	color: white;
}

.navbar-toggler {
  border-color: white;
  background-color:white;
  width: 15%;
  height: 10%;

  margin: 6px 0;
  transition: 0.4s;
}
 .navbar-toggler-icon {
 background-image: url("https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png");}
